
@{
    ViewBag.Title = "yönetici paneli";
}

<h2>yönetici paneli</h2>

<div class="col-md-9">
    <div align="left">
        <a href="~/ilac/Index"><img src="~/Content/27.png" width=250 height=250></a>
        <a href="~/mesaj/Index"><img src="~/Content/28.png" width=250 height=250></a>

        <a href="~/personel/Index"><img src="~/Content/29.png" width=250 height=250></a>
    </div>

</div>