
@model IEnumerable<bayosi.Models.mesaj>



<div class="jumbotron">
    <h1>yönetici tarafından paylaşılan mesaj</h1>
    <p class="lead">yönetici tarafından paylaşılan tüm mesajları görmek için aşagıdaki linke tıklayınız</p>
    <p><a href="~/mesaj/index" class="btn btn-primary btn-large">mesajlar &raquo;</a></p>
   
</div>

<div class="col-md-12">
    <div align="center">
        <a href="~/hayvan/Index"><img src="~/Content/22.png" width=250 height=250></a>
        <a href="~/Sahiplenme/Index"><img src="~/Content/23.png" width=250 height=250></a>
        <a href="~/tedavi/Index"><img src="~/Content/24.png" width=250 height=250></a>
    </div>

</div>
<div>

</div>